.form {
    padding-top: 15%;
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: auto;
    width: 50%;
    text-align: center;
}

.form input {
    width: 50%;
    font-size: 1.3rem;
    outline: none;

}

.form label {
    font-size: 1.5rem;
    float: left;
    padding-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    padding-top: 10%;
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

#submitButton {
    font-size: 1.3rem;

    width: 50%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: lightblue;

    /* outline: none; */

}

#submitButton:hover {
    background-color: lightgray;
}

#signup {
    text-decoration: none;
    color: black;

    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 10px;
}

#signup:hover {
    text-decoration: underline;
}

.flashes {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    align-self: flex-start;
    justify-items: center;
    align-items: center;
    margin: auto;
    text-align: center;

}