.card {
    background-color: lightblue;
    width: 30rem;
    height: 20rem;
    display: none;
    outline: none;
}

#timer {
    font-size: 30vh;
}

/* #cardHolder {
    display: none;
} */

#displayBtn {
    display: none;
}

.btn-customize {
    background-color: lightblue;
}

body {
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url('../img/bkg3.jpg');
    background-repeat: no-repeat;
    background-size: cover;



}

.content {
    height: 100vh;
    align-items: center;
}


.class-body {
    height: 100%;
}

#another {
    position: absolute;
    bottom: 5%;
    background-color: dodgerblue;
    color: white;
}

#finished {
    position: absolute;
    bottom: 5%;
    right: 4%;
}

.card-title {
    font-size: 3rem;
}

.card-text {
    font-size: 2rem;
}

#minInput,
#secInput {
    width: 5%;
}

.navigation {
    position: absolute;
    top: 2%;
    left: 2%;
}

.navigation a {
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    color: black;
}

.navigation a:hover {
    color: cadetblue;
}